* {box-sizing: border-box;}

body {
    background-color: #f6f8f9;
    margin: 0px; /*body have a default margin, i had to remove it*/
}

header {
    background-color: white; /**/
    height: 72px; /*compromesso con l'immagine, non mi pare centrato*/
    width: 100%;
    margin-bottom: 30px;
    padding: 0px;
    box-sizing: border-box;
    
}

#logo {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-top: ;
}

#nome_sito {
    line-height: 70px;
    height: 70px;
    font-size: 32px;
    font-weight: 900;
}


.container { /*class perchè lo applicherò a due parti*/
    max-width: 70%;
    margin: auto;
    margin-top: 2px; /*margine minimo per divisore*/
    padding: 0px;
    background-color: white;
    /*-----border-style: solid;-----*/
    border-radius: 5px; /*bordi arrotondati*/
}


