* {box-sizing: border-box;}

body {
    background-color: #f6f8f9;
    margin: 0px; /*body have a default margin, i had to remove it*/
}

footer {display: none;}

/*---------------header-----------------*/

header {
    background-color: white;
    height: 75px; /*compromesso con l'immagine, non mi pare centrato*/
    width: 100%;
    margin-bottom: 30px;
    padding: 0px;
    box-sizing: border-box;
}

#logo {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

#nome_sito {
    line-height: 70px;
    height: 70px;
    font-size: 40px;
    font-weight: 900;
}

/*---------------contaner-----------------*/

.container { /*class perchè lo applicherò a due parti*/
    max-width: 70%;
    margin: auto;
    margin-top: 2px; /*margine minimo per divisore*/
    padding: 0px;
    background-color: white;
    /*-----border-style: solid;-----*/
    border-radius: 3px; /*bordi arrotondati*/
    padding: 8px 35px;
    font-size: 0.9em
}
/*---------------bottoni-----------------*/
.button { /*classe base per tutti i bottoni*/
    font-weight: 900;
    font-size: 0.85em;
    padding: 5px 15px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    margin-right: 4px;
}

.active { /*bottoni blu*/
    background-color: #14aaf5;
    color: white;
}

.inactive { /*bottoni grigi*/
    background-color: white;
    color: lightgray;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

/*---------------Sezioni-----------------*/

ul {
    list-style-type: none;
    padding-left: 0px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 0px;
}

.arrow {
    /*l'ascii della freccia non è adatto.
    ho trovato online un codice per creare un triangolo di margin:
    i bordi dx e sx tracciano il contorno, tagliando quello top*/
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(0, 0, 0);
    /*aggiunto l'inline-block e una posizione più centrale*/
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
  }

  
  h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 01em;
  font-weight: 500;
  margin-bottom: 7px;
  display: inline-block;
}

.check {
    height: 17px;
    width: 17px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    line-height: 17px;
    font-size: 0.8em;
    text-align: center;
}

.right {
    border-color: #2cc6ab;
    color: #2cc6ab;
}

.wrong {
    border-color: red;
    color: red;
}

/*------------badge----------*/

.badge { /*classe base per tutti i bottoni*/
    font-weight: 700;
    font-size: 0.65em;
    padding: 6px 10px;
    border-radius: 9px;
    width: fit-content;
    display: inline-block;
    margin-right: 4px;
    color: rgb(255, 255, 255);
}

.editorial {
    background-color: #14aaf5;
}

.Q1 {
    background-color: #ab5de6;
}

.recruiting {
    background-color: #2cc6ab;
}

.mobile {
    background-color: #ff9b00;
}

.website {
    background-color: #ec4a9d;
}

.sales {
    background-color: #a3d116;
}