* {box-sizing: border-box;}

body {
    background-color: #f6f8f9;
    margin: 0px; /*body have a default margin, i had to remove it*/
}

/*---------------header-----------------*/

header {
    background-color: white;
    /*l'immagine del logo ha un bordo bianco eccessivo*/
    height: 72px; /*compromesso con l'immagine, non mi pare centrato*/
    width: 100%;
    margin-bottom: 30px;
    padding: 0px;
    box-sizing: border-box;
}

#logo {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-top: ;
}

#nome_sito {
    line-height: 70px;
    height: 70px;
    font-size: 32px;
    font-weight: 900;
}

/*---------------contaner-----------------*/

.container { /*class perchè lo applicherò a due parti*/
    max-width: 70%;
    margin: auto;
    margin-top: 2px; /*margine minimo per divisore*/
    padding: 0px;
    background-color: white;
    /*-----border-style: solid;-----*/
    border-radius: 3px; /*bordi arrotondati*/
    padding: 8px 35px;
    font-size: 0.9em
}

.button {
    font-weight: 900;
    font-size: 0.85em;
    padding: 7px 15px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    margin-right: 4px;
}

.active {
    background-color: #14aaf5;
    color: white;
}

.inactive {
    background-color: white;
    color: lightgray;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}